
<body class="text-light bg-success">
<div class="contact bg-dark">
    <div class="container">
        <div class="row  ">
            <div class="div pt-5 mt-0 pb-5 col-md-4 ">
                <h1>LOCATION</h1>
                <p>2215 John Daniel Drive</p>
                <p>Clark, MO 65243</p>
    
            </div>
    <div class="div text-center pt-5 pb-5 col-md-4">
        <h1>AROUND THE WEB</h1>
        <div class="icons  ">
            <i class="fa-brands fa-facebook me-4 p-2 border rounded-circle"></i>
            <i class="fa-brands fa-twitter me-4 p-2 border rounded-circle"></i>
            <i class="fa-brands fa-linkedin me-4 p-2 border rounded-circle"></i>
            <i class="fa-solid fa-earth-americas me-4 p-2 border rounded-circle"></i>
        </div>
    </div>
    <div class="div text-center pt-5 pb-5 col-md-4">
        <h1>ABOUT FREELANCER</h1>
        <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
    </div>
        </div>
    </div>
</div>

<footer class="bg-black text-center pb-4 pt-3">
    Copyright © Your Website 2021


</footer>
</body>