
<body class="text-center text-light bg-success pt-5 pb-5  ">
    <h1 class="mb-0 v fw-bold " >ABOUT COMPONENT </h1>
    <div class="line m-auto w-25 h-100 d-flex pb-3">
        <div class="w-50  text-light mt-3  lin"></div>
        <i class="fa-solid fa-star ms-3 me-3 mt-2 text-light"></i>
        <div class="w-50  text-light mt-3  lin"></div> 
    </div>
    <div class="container v2">
        <div class="row">
            <div class="div col-md-6">
                <p>Freelancer is a free bootstrap theme created by Route.
                     The download includes the complete source files including HTML, CSS, and JavaScript
                      as well as optional SASS stylesheets for easy customization.</p>
            </div>
            <div class="div col-md-6 pb-5">
                <p>Freelancer is a free bootstrap theme created by Route.
                     The download includes the complete source files including HTML, CSS, and JavaScript
                      as well as optional SASS stylesheets for easy customization.</p>
            </div>
        </div>
    </div>
</body>
