
<body class="bg-success mb-0 text-light p-0">
    <div class="contant text-center">
        <img [src]="avataaar" class="w-25 h-25  ms-auto bg-success mt-5" alt="">
        <h1 class="fw-bold text-light">START FRAMEWORK</h1>
        <div class="line m-auto w-25 h-100 d-flex pb-3">
            <div class="w-50  text-light mt-3  lin"></div>
            <i class="fa-solid fa-star ms-3 me-3 mt-2 text-light"></i>
            <div class="w-50  text-light mt-3  lin"></div> 
        </div>
        <p class="text-light pb-5 mb-0">
            Graphic Artist - Web Designer - Illustrator
        </p>
       
        
    </div>
   
</body>